#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 100px;
}

#mc_embed_signup form {
  width: 100%;
  padding: 0;
}

#mc_embed_signup div#mce-error-response {
  color: #db2323;
}

#mc_embed_signup div#mce-responses {
  margin: 0;
  padding: 0;
}