/* 7. Single Post
/* ---------------------------------------------------------- */
/* Adjust margin and padding of pre blocks */
.post-full-content pre {
    margin: 1em 0 2em;
    padding: 1em;
}

.post-full-content pre {

}


/* 7.6. Koenig Styles
/* ---------------------------------------------------------- */

/* For thumbnail image, e.g. image of author on About page */
.kg-image.kg-image-thumbnail {
  border-radius: 50%;
}

@media (max-width: 1040px) {
    .post-full-content .kg-image {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .post-full-content .kg-image {
        width: 75vw;
    }
}

/* Display images in a row */
.kg-image-card-container {
    display: flex;
}

.kg-image-card-container .kg-card.kg-image-card {
    margin-right: 1em;
}


/* Custom styles */
/* --------------------------------------------------------- */
.nomargin {
    margin: 0;
}

/* Custom styles for emoji: https://ionicabizau.github.io/emoji.css/ */
.ec {
    font-size: 2em;
}

.ec-money-mouth-face {
    color: color(var(--green) l(-10%) b(+5%));
}

/* Styling for tags page */
#tags {
    display: flex;
    flex-wrap: wrap;
}

#tag {
    display: flex;
    width: 25%;
    color: #333;
    justify-content: space-between;
    transition: 0.15s background-color ease-in-out;
}

#tag:hover {
    text-decoration: none;
    background-color: #eaeaea;
}