/* For thumbnail image, e.g. image of author on About page */
.kg-image.kg-image-thumbnail {
  border-radius: 50%;
}

@media (max-width: 1040px) {
    .post-full-content .kg-image {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .post-full-content .kg-image {
        width: 75vw;
    }
}

/* Reduce the top margin of pre blocks by juuuust a little */
.post-full-content pre {
    margin: 1em 0 3em;
}

/* Display images in a row */
.kg-image-card-container {
    display: flex;
}

.kg-image-card-container .kg-card.kg-image-card {
    margin-right: 1em;
}